# Web framework
fastapi==0.118.0
uvicorn[standard]==0.23.2
starlette==0.48.0

# Database / ORM
SQLAlchemy==2.0.25

# Authentication / JWT
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
argon2-cffi==25.1.0

# Data validation
pydantic==2.6.0
python-multipart==0.0.20

# HTTP requests
requests==2.32.0

# MQTT client
paho-mqtt==1.6.1

# Optional utils
email-validator==2.3.0

